input{
    background:none;
    height: 30px;
    width: 180px;
    margin: 5px 10px; 
    outline: none;     
    border:1px solid #ccc; 
    border-radius:5px;
}
input[type="text"]:focus {

    border: 1px solid #0066cc;
    outline: none;
    box-shadow:1px 0.5px  1px 0.5px #0066cc;
}
button{
    margin: 0;
    padding: 0;
    border: 1px solid transparent; 
    outline: none;    
    display: inline-block;
    height: 30px;
    text-align: center;
    width: 60px;
    background: #0066cc;
    border-radius:4px;    
    color: #fff;
}
buttom,table tbody tr td i:hover{
    cursor: pointer;
}
table{
    border-collapse:collapse;
    width:95%;
    height: 50%;
    margin: 10px;   
}
table tbody tr td{
    border:1px solid #ccc;
    text-align: center;
}
table tbody tr td i{
     margin-left: 10px;
}

.dirlog {
    position: absolute;
    height: 60%;
    width: 80%;
    left: 10%;
    top: 15%;
    right: 15%;
    bottom:15%;
    /* background: red; */
} 
.dirlog span{
    width: 50px;
    display: inline-block;
    margin-left: 50px;
}
.dirlog input{
    height: 30px;
    width: 480px;
}