.car_layout .car_content{
  display: table;
  width: 100%;
}
.car_layout .car_content .car_left{
  display: table-cell;
}
.car_layout .car_content .car_tab{
  width: 80px;
  display:table-cell;
}
.car_layout .car_content .car_nav_item{
  width: 80px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  border-radius: 3px;
  border-left: 2px solid rgb(0, 102, 204);
  border-bottom: 2px solid rgb(0, 102, 204);
  margin: 0 0 10px 0;
  cursor: pointer;
}
.car_layout .car_content .car_nav_item_last{
  width: 80px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  margin: 0 0 10px 0;
  cursor: pointer;
  border-radius: 3px;
  border-style: none none dashed dashed;
  border-width: 0 2px 2px 2px;
  border-color: #ccc;
}