.CourseForm{
  border:1px solid #ddd;
  padding:10px;
  border-radius: 3px;
  margin-bottom: 10px;
}
.CourseForm form input{
  border: 1px solid #dcdfe6;
  border-radius: 4px;
  height: 20px;
  line-height: 20px;
  text-indent: 4px;
  margin-right: 10px;
}
.CourseForm form input[type=submit]{
  width: 60px;
  height: 20px;
  background-color: #03A9F4;
  border: none;
  outline: none;
  font-size: 10px;
  color:white;
  font-weight: bold
}