.goods_from{
	max-width:350px ;
	margin: 0 auto
}
.goods_from  div{
	margin-bottom: 1em
}
.goods_from span{
	display: inline-block;
	width: 6em;
	padding-left: .5em
}
.goods_from input{
	padding: 0 .5em
}
.goods_from label{
	margin-right: 1em
}