
.container > .left,
.container > .right {
  position: absolute;
  top: 55px;
  bottom: 30px;
  overflow-y: scroll;
}
.container > .left {
  width: 220px;
  float: left;
  position: absolute;
  top: 55px;
  bottom: 30px;
  background-color: #ffffff;
}

.container > .right {
  padding: 1em .5em;
  color: #666666;
  left: 230px;
  right: .5em;
  margin: 1em 0;
  border-radius: 5px;
  background-color: #ffffff
}
